#img_product {
  width: 100px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-container .product-parent-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.product-container .product-parent-div a {
  margin-top: 5px;
}

.product-container .product-parent-div .product-div {
  margin: 2px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.product-container .product-parent-div .product-div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.product-container .product-parent-div .product-div img {
  border-radius: 20px 20px 0 0;
  width: 300px;
}

.product-container .product-parent-div .product-div .info-product {
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container .product-parent-div .product-div .info-product .details {
  width: 60%;
  padding: 5px;
}

.product-container .product-parent-div .product-div .info-product .details .name-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.product-container .product-parent-div .product-div .info-product .details .name-product h3 {
  color: black;
  font-size: 24px;
}

.product-container .product-parent-div .product-div .info-product .details .description-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.product-container .product-parent-div .product-div .info-product .details .description-product h6 {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
}

.product-container .product-parent-div .product-div .info-product .price-product {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container .product-parent-div .product-div .info-product .price-product h4 {
  font-weight: 600;
  color: red;
  margin-left: 5px;
  font-size: 20px;
}

.product-container .quantity {
  margin-right: 5px;
  position: relative;
  text-align: center;
}

.product-container input[type=number]::-webkit-inner-spin-button,
.product-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-container input[type=number] {
  -moz-appearance: textfield;
}

.product-container .quantity input {
  width: 60px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.product-container .quantity input:focus {
  outline: 0;
}

.product-container .quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.product-container .quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.product-container .quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.product-container .quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
/*# sourceMappingURL=Products.css.map */